
a {
  color: #202020;
  text-decoration: none;

    &:hover {
      color: #F86923;
    }
}

h3 {
  font-family: "Montserrat",sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;
  color: #202020;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

.container-wrap {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.hr-line {
  background-color: #F86923;
  height: 1px;
}

.content-bottom {
  margin-bottom: 20px;
}
